.root {
    li {
        display: inline-flex;
        margin-left: 10px;
    }

    a {
        color: #fe5f1e;
        text-align: center;
        width: 40px;
        height: 40px;
        padding: 8px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        cursor: pointer;
        &:hover {
            background-color: #fe5f1e;
            color: #fff;
        }
    }

    :global {
        a {
            .selected {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
}
